{{> dashhead}}

    <section id="content">
        <section class="content-scroll-div">

            <div class="content-header">
                <h1>Delete image</h1>
            </div>

            <div class="content-form">
            
    			<form action="/dashboard/content/delete/{{id}}" method="post"> 

					<p class="details">Are you sure you wish to delete this image? This action will also remove all slides containing this image</p>

                    <fieldset class="normal-button">
                        <input id="form-submit" value="Delete image" name="submit" class="submit-btn" type="submit">
                        <button type="button" class="cancel-btn"><a href="/dashboard/content/">Cancel</a></button>
                    </fieldset>

                </form>

            </div>

        </section>
    </section>

{{> dashfoot}}