{{> dashhead}}

<section class="content-wrapper">
    <section class="content-options">
        <h1>Creating new image</h1>

        <section class="flex-container">
            <fieldset>
            <legend>Preview</legend>
                <p>Upload load an image to preview it here</p>
                <p>Please remember that the screens have an aspect ratio of either 16:9 or 9:16. Images without this ratio will be cropped</p>
            </fieldset>

            <fieldset>
            <legend>Options</legend>

                <label>Content name:
                    <input type="text" placeholder="Name"></input>
                </label>

                <label>Description:
                    <input type="text" placeholder="Description"></input>
                </label>

                <label>Display for x seconds:
                    <input type="text" placeholder="Enter time in seconds"></input>
                </label>

                <label>New image:
                    <input type="file"></input>
                </label>

            </fieldset>

        </section>
        
        <a href="../"><button>Create item</button></a>

    </section>
</section>

{{> dashfoot}}