{{> dashhead}}

<div class="content-wrapper">
    <section class="content-options">
        <h1>Upload new image</h1>

        <form enctype="multipart/form-data" action="/dashboard/content/new/image" method="post"> 

            <div class="flex-container">

                <fieldset>
                <legend>Options</legend>

                    <label>Image title:
                        <input name="name" type="text" placeholder="Name"></input>
                    </label>

                    <label>Upload image:
                        <input id="file-upload" name="file" type="file"></input>
                    </label>

                </fieldset>

                <fieldset id="preview">
                <legend>Preview</legend>
                    <p id="preview-text">Upload load an image to preview it here<br>
                    Please remember that the screens have an aspect ratio of either 16:9 or 9:16. Images without this ratio will be cropped</p>
                    <img id="preview-image">

                </fieldset>
            
            </div>
        
            <input type="submit" value="Create item">

        </form>

    </section>
</div>

{{> dashfoot}}