{{> dashhead}}

<section class="content-wrapper">
    <section class="content-options">
        <h1>Creating new {{type}}</h1>

        <form enctype="multipart/form-data" action="/dashboard/content/new/{{type}}" method="post"> 

            <section class="flex-container">
                
            {{#if preview}}
                <fieldset>
                <legend>Preview</legend>
                    <p id="preview-text">Upload load an image to preview it here<br>
                    Please remember that the screens have an aspect ratio of either 16:9 or 9:16. Images without this ratio will be cropped</p>
                    <img id="preview-image">

                </fieldset>
            {{/if}}

                <fieldset>
                <legend>Options</legend>

                    <label>Content name:
                        <input name="name" type="text" placeholder="Name"></input>
                    </label>

                    <label>Description:
                        <input name="desc" type="text" placeholder="Description"></input>
                    </label>

                    <label>Display for x seconds:
                        <input name="duration" type="number" placeholder="Enter time in seconds"></input>
                    </label>
                    {{#if img}}
                    <label>New image:
                        <input id="file-upload" name="file" type="file"></input>
                    </label>
                    {{/if}}

                    {{#if url}}
                    <label>{{type}} code:
                        <input name="url" type="txt"></input>
                    </label>
                    {{/if}}

                    {{#if error}}
                        <div class="msg">
                            {{error}}
                        </div>
                    {{/if}}

                </fieldset>

            </section>
        
            <input type="submit" value="Create item">

        </form>

    </section>
</section>

{{> dashfoot}}