{{> dashhead}}

    <section id="content">
        <section class="content-scroll-div">

            <div class="content-header">
                <h1>Upload new image</h1>
            </div>

            <div class="content-form">
            
                <form enctype="multipart/form-data" action="/dashboard/content/new/image" method="post"> 

                    <fieldset class="normal-input required {{#if errorName}}error{{/if}}">
                        <label for="form-name">Image title</label>
                        <input id="form-name" name="name" type="text" maxlength="100">
                        {{#if errorName}}
                            <p class="error-message">{{errorName}}</p>
                        {{/if}}
                    </fieldset>

                    <fieldset class="normal-upload required {{#if errorFile}}error{{/if}}">
                        <label>Upload an image</label>
                        <label class="upload-label" for="form-upload">

                            <img id="preview-image">
                            <svg version="1.1" id="add-symbol" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                                <circle style="fill:#43B05C;" cx="25" cy="25" r="25"/>
                                <line style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="25" y1="13" x2="25" y2="38"/>
                                <line style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="37.5" y1="25" x2="12.5" y2="25"/>
                            </svg>

                        </label>
                        <input id="form-upload" name="file" type="file">
                        {{#if errorFile}}
                            <p class="error-message">{{errorFile}}</p>
                        {{/if}}
                    </fieldset>

                    <fieldset class="normal-button">
                        <input id="form-submit" value="Save changes" name="submit" class="submit-btn" type="submit">
                        <button type="button" class="cancel-btn"><a href="#">Cancel</a></button>
                    </fieldset>

                </form>

            </div>

        </section>
    </section>

{{> dashfoot}}
