{{> dashhead}}

<section class="content-wrapper">
    <section class="content-introduction">
        <h1>Are you sure you wish to delete this slideshow?</h1>
        <p>
            <ul>
                <li><strong>Slideshow: </strong>Open dag CMDA</li>
            </ul>
        </p>
        <a href="../"><button>Yes, I want to delete this slideshow</button></a><a href="../edit/"><button>No</button></a>
    </section>
</section>

{{> dashfoot}}