{{> dashhead}}

<section class="content-wrapper">
    <section class="content-introduction">
        <form action="/dashboard/slideshow/delete/{{id}}" method="post"> 
	        <h1>Are you sure you wish to delete this slideshow?</h1>
	        <p>
	            <ul>
	                <li><strong>Slideshow: </strong>{{name}}</li>
	            </ul>
	        </p>
	        <input type="submit" value="Yes, I wish to delete this slideshow">
	    </form>
	<a href="/dashboard/edit/{{id}}"><button>No</button></a>
    </section>
</section>

{{> dashfoot}}