{{> dashhead}}

<section class="block-wrapper">

    <section class="block-item"><a href="edit/">
        <header class="block-image">
            <img src="/media/slideshow.png">
        </header>
        <footer class="block-footer">
            <ul>
                <li><strong>Name:</strong> Open dag 7 juni</li>
                <li><strong>Orientation:</strong> Landscape</li>
                <li><strong>Created at:</strong> 07/06/2016</li>
            </ul>
        </footer>
    </a></section>

    <section class="block-item"><a href="edit/">
        <header class="block-image">
            <img src="/media/slideshow.png">
        </header>
        <footer class="block-footer">
            <ul>
                <li><strong>Name:</strong> Activiteiten IAM core</li>
                <li><strong>Orientation:</strong> Portrait</li>
                <li><strong>Created at:</strong> 07/06/2016</li>
            </ul>
        </footer>
    </a></section>

    <section class="block-item new-item"><a href="new/">
        <header class="block-image">
            <img src="/media/slideshow-new.png">
        </header>
        <footer class="block-footer">
            <ul>
                <li><strong>Create a new slideshow</strong></li>
            </ul>
        </footer>
    </a></section>

</section>

{{> dashfoot}}