{{> dashhead}}

    <section id="content">
        <section class="content-scroll-div">

            <div class="content-header">
                <h1>Create new slide</h1>
            </div>

            <div class="content-form">
            
				<form id="main-form" enctype="multipart/form-data" action="/dashboard/slideshow/edit/{{id}}/slide/new/" method="post"> 

					<fieldset class="normal-radio always">
						<label>Select the content type for this slide:</label>
						<input id="form-radio-1" value="image" name="type" type="radio"><label for="form-radio-1">Image</label>
						<input id="form-radio-2" value="video" name="type" type="radio"><label for="form-radio-2">Video</label>
						<input id="form-radio-3" value="tweet" name="type" type="radio"><label for="form-radio-3">Tweet</label>
					</fieldset>

                    <fieldset class="normal-input has-image has-video has-tweet required">
                        <label for="form-order">Slide order</label>
                        <input id="form-order" name="order" type="number" maxlength="100" required>
                    </fieldset>

                    <fieldset class="normal-input has-image has-tweet required">
                        <label for="form-duration">Slide duration in seconds</label>
                        <input id="form-duration" value="1" name="duration" type="number" maxlength="100">
                    </fieldset>

					<fieldset class="normal-radio has-image">
						<label>Create a new image slide</label>
						<input id="form-radio-4" value="new" name="image_type" type="radio"><label for="form-radio-4">Upload new image</label>
						<input id="form-radio-5" value="existing" name="image_type" type="radio"><label for="form-radio-5">Use existing image</label>
					</fieldset>

                    <fieldset class="normal-input has-new-image required">
                        <label for="form-image_title">Image title</label>
                        <input id="form-image_title" name="image_title" type="text" maxlength="100">
                    </fieldset>

                    <fieldset class="normal-upload has-new-image required">
                        <label>Upload an image</label>
                        <label class="upload-label" for="form-upload">

                            <img id="preview-image">
                            <svg version="1.1" id="add-symbol" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                                <circle style="fill:#43B05C;" cx="25" cy="25" r="25"/>
                                <line style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="25" y1="13" x2="25" y2="38"/>
                                <line style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="37.5" y1="25" x2="12.5" y2="25"/>
                            </svg>

                        </label>
                        <input id="form-upload" name="file" type="file">
                    </fieldset>

					<fieldset class="normal-select has-existing-image required">
						<label for="form-existing-image">Assign an image</label>
						<select name="existing_image_id" id="form-existing-image">
						{{#each images}}
							<option value="{{id}}" id="one">{{name}} (id: {{id}})</option>
						{{/each}}
						</select>
					</fieldset>

                    <fieldset class="normal-input has-video required">
                        <label for="form-name">Video title</label>
                        <input id="form-name" name="youtube_name" type="text" maxlength="100">
                    </fieldset>

                    <fieldset class="normal-input has-video required">
                        <label for="form-name">Video YouTube URL</label>
                        <input id="form-name" name="youtube_url" type="text" maxlength="100">
                    </fieldset>

                    <fieldset class="normal-input has-tweet required">
                        <label for="form-name">Tweet title</label>
                        <input id="form-name" name="tweet_name" type="text" maxlength="100">
                    </fieldset>

                    <fieldset class="normal-input has-tweet required">
                        <label for="form-name">Tweet direct URL</label>
                        <input id="form-name" name="tweet_url" type="text" maxlength="100">
                    </fieldset>                    

                    <fieldset class="normal-button has-image has-video has-tweet has-existing-image has-new-image">
                        <input id="form-submit" value="Save changes" name="submit" class="submit-btn" type="submit">
                        <button type="button" class="cancel-btn"><a href="#">Cancel</a></button>
                    </fieldset>

                </form>

            </div>

        </section>
    </section>

{{> dashfoot}}
