// general

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: $line-height;
}

body {
	background-color: $color-white;
	font-family: $font-main;
	font-size: $font-body;
	overflow: hidden;
}

a {
	color: $color-text;
	text-decoration: none;
}

.btn {
	border: 1px solid $color-white;
	color: $color-black-blue;
	border-radius: $border-radius;
}

main {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $color-light-grey;
}

#sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 250px;
	background-color: $color-sidebar-bg;

	.logo {
		width: 250px;
		height: 250px;
		padding: 50px;
	}

	li {
		display: flex;
		flex-direction: row;
		height: 60px;
		padding: calc(35px / 2);

		&:hover, &:focus {
			background-color: $color-black-blue;
			border-bottom: 1px solid $color-light-grey;
			transition: all $transition-time-3 $easing-1;
 		}

		&:hover span, &:focus span {
 			color: $color-white;
		}

	}

	li.active {
		background-color: $color-black-blue;
		span {
			color: $color-white;
		}
	}


	.sidebar-icon {
		width: 25px;
		height: auto;
		margin-right: $d25;
	}

}

#content {
	position: absolute;
	height: 100%;
	top: 0px;
	bottom: 0px;
	left: 250px;
	right: 0px;
	padding: 0 $d25;

	.content-scroll-div {
		position: relative;
		height: 100%;
		overflow-x: auto;
	}

	.content-header {
		display: block;
		width: 100%;
		height: 80px;
		border-bottom: 1px solid $color-white;

		h1 {
			color: $color-text-invert;
			line-height: $line-height-large;
			padding: 0 $d25;
			float: left;
		}

		svg {
			display: none;
			float: right;
			height: 40px;
			width: auto;
			margin-top: $d25;

			+ span {
				opacity: .8;
				display: block;
				float: right;
				margin-top: $d25;
				margin-left: $d10;
				border-radius: $border-radius;
				color: $color-text;
				line-height: $line-height;
				border: 1px solid $color-white;
				background-color: $color-dark-blue;
				padding: $d5 $d10;
				transition: all $transition-time-3 $easing-2;

				&:hover, &:focus {
					opacity: 1;
					color: $color-white;
					border-color: $color-white;
				}
			}

			&:hover, &:focus {
				transform: rotate(180deg);
				transition: all $transition-time-3 $easing-2;

				+ span {
					opacity: 0.6;
				}

			}

		}

	}

}

#message {
	position: absolute;
	width: auto;
	top: $d10;
	right: $d10;
	padding: $d5 $d15;
	z-index: 2;
	border-radius: $border-radius;
	animation: fade 5s forwards;


	&.positive {
		background-color: $color-cmd-green;
		border: 1px solid $color-light-grey;
		color: $color-white;
	}

	&.negative {
		background-color: $color-cmd-red;
		border: 1px solid $color-dark-blue;
		color: $color-white;
	}

}

#container {
	width: 100%;
	height: auto;
	display: flex;

	.item-block {
		width: 250px;
		height: 200px;
	    display: flex;
	    flex-direction: column;
	    align-items: center;		

		> svg {
			width: 150px;
			height: 150px;
		}

		> div {
			width: 150px;
			height: 150px;
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				max-width: 150px;
				max-height: 150px;
				width: auto;
				height: auto;
			}
		}

		svg:first-of-type {
			position: absolute;
			width: 50px;
			height: 50px;
			margin-top: 50px;
			opacity: 0;
		}

		.details {
			min-width: 250px;
			color: $color-text-invert;
		}

		&:hover, &:focus {
			opacity: .65;
			transition: $transition-time-2 $easing-2;

			> svg:first-of-type {
				opacity: 1;
				transition: $transition-time-2 $easing-2;
			}

		}

	}

}

@media screen and (max-width: 60em) {

	#sidebar {
		top: 0;
		left: 0;
		right: 0;
		height: 100px;
		width: auto;
		bottom: auto;
		display: flex;
		flex-direction: row;
		transition: all $transition-time-3 $easing-2;

		.logo {
			display: none;
		}

		.sidebar-icon {
			width: 50px;
			height: auto;
			margin: 0;
		}

		nav {
			width: 100%;
		}

		ul {
			display: flex;

			> a {
				width: calc(100% / 4);
			}
			span {
				display: none;
			}
		}

		li {
			height: 100px;
			padding-top: $d30;
			display: flex;
			align-items: center;
			justify-content: center;

			&:hover, &:focus {
				border-width: 0px;
	 		}

		}

	}	

	#content {
		position: absolute;
		top: 100px;
		left: 0;
		right: 0px;
		height: 100%;
		padding: $d0 $d25;

		.content-scroll-div {
			height: 100%;
			padding-bottom: 100px;
		}


		.content-header {

			svg {
				display: block;

				+ span {
					display: none;
				}
			}

		}

	}

	#container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

	}
}

@media screen and (max-width: 35em) {
	#content {
		padding: $d0;

		.content-header {

			h1 {
				font-size: $font-subheader;
				padding-left: $d5;
			}

			svg {
				margin: $d20 $d0;
			}

		}

		#container {
			flex-direction: column;
			align-items: center;
		}

	}
}

@keyframes fade {
  0%, 100% { 
  	opacity: 0 
  }
  20%, 80% { 
  	opacity: 1 
  }
}