{{> dashhead}}

    <section id="content">
        <section class="content-scroll-div">

            <div class="content-header">
	        	<h1>CMDA Digital Poster Dashboard</h1>
            </div>

            <div class="content-form">
 
		        <p>This dashboard controls multiple screens throughout HvA buildings, you can upload content here, and place the content into slideshows, which you can apply to screens in the building. For questions and/or bugs, please contact:</p>
		        <br>
		        <p><strong>robert.spier@hva.nl</strong></p>
		        <br>
		        <p><strong>Current version:</strong> 2.0</p>
				
            </div>

        </section>
    </section>

{{> dashfoot}}