{{> dashhead}}

	<section class="content-wrapper">
	    <section class="content-introduction">
	        <h1>CMDA Digital Poster Dashboard</h1>
	        <p>This dashboard controls multiple screens throughout HvA buildings, you can upload content here, and place the content into slideshows, which you can apply to screens in the building. For questions and/or bugs, please contact: robert.spier@hva.nl</p>
	            <p><ul>
	                <li> - Screens can be created and deleted, a screen automatically gets an assigned URL which the physical television is direct to.</li>
	                <li> - Slideshows consist of content uploaded through the content option, CMDA DPD currently supports images, youtube video's and twitter feeds</li>
	                <li> - Content can be assigned or uploaded. Twitter hashtag / user feed is assigned, while video's and images are uploaded</li>
	                <li> - The aspect ratio of the screens will always be HD, so a 16:9 ratio should be mandatory, you will be warned when your image has an incorrect ratio.</li>
	            </ul></p>
	        <p><strong>Current version:</strong> 1.1.2</p>
	    </section>
	</section>

{{> dashfoot}}