<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width">
		<meta name="description" content="Prototype for the 'Meesterproef' of the minor Web Development">
		<meta name="author" content="Robert Spier">
		<link rel="stylesheet" href="/style/style.css">
		<title>Prototype - {{title}}</title>
	</head>

	<body>
		<main>

			<div class="input-wrapper">
				<div class="input-box">
					{{#if error}}
						<div class="msg">
							{{error}}
						</div>
					{{/if}}
					<form action="/dashboard/login/" method="post">
						<fieldset>
							<legend>Login</legend>
							<label>Email:
								<input type="email" name="email"></input>
							</label>
							<label>Password:
								<input type="password" name="password"></input>
							</label>
							<input type="submit" value="Login"></input>
						</fieldset>
					</form>
					<p>No account yet? <a href="/dashboard/register/">register first</a></p>
				</div>
			</div>

		</main>
   </body>
</html>
