<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Prototype for the 'Meesterproef' of the minor Web Development">
        <meta name="author" content="Robert Spier">
        <link rel="stylesheet" href="/style/style.css">
        <title>Prototype - {{title}}</title>
    </head>

    <body>
        <main>

            <div class="input-wrapper">
                <div class="input-box">
                    {{#if error}}
                        <div class="msg">
                            {{error}}
                        </div>
                    {{/if}}
                    <form action="/dashboard/register/" method="post">
                        <fieldset>
                            <legend>Register</legend>
                            <label>Name:
                                <input type="text" name="name"></input>
                            </label>
                            <label>Email:
                                <input type="email" name="email"></input>
                            </label>
                            <label>Password:
                                <input type="password" name="pass"></input>
                            </label>
                            <label>Confirm:
                                <input type="password" name="confirm"></input>
                            </label>
                            <input type="submit" value="Register"></input>
                        </fieldset>
                    </form>
                    <p>Already have an account? <a href="/dashboard/login/">login here</a></p>
                </div>
            </div>

        </main>
   </body>
</html>
