{{> dashhead}}

<section class="settings-wrapper">
    <section class="settings">
        <h1>Settings</h1>
        <p><a href="../login/"><button>Log out</button></a></p>

    </section>
</section>
            
{{> dashfoot}}