{{> dashhead}}

<div class="settings-wrapper">
    <section class="settings">
        <h1>Settings</h1>
		<form action="settings/" method="post">
        	<p><input type='submit' value="Log out"></p>
        </form>
    </section>
</div>
            
{{> dashfoot}}