<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Prototype for the 'Meesterproef' of the minor Web Development">
        <meta name="author" content="Robert Spier">
        <link rel="stylesheet" href="/style/style.css">
        <title>Prototype - {{title}}</title>
    </head>

    <body>
        <main>
            <aside id="sidebar">
                <section class="logo-picture">
                    <a href="/dashboard/"><img src="/media/logo.jpeg"></a>
                </section>

                <nav>
                    <ul>
                        <li><a href="/dashboard/screen/">Manage screens</a></li>
                        <li><a href="/dashboard/slideshow/">Manage slideshows</a></li>
                        <li><a href="/dashboard/content/">Manage content</a></li>
                        <li><a href="/dashboard/settings/">Settings</a></li>
                    </ul>
                </nav>

            </aside>