<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Prototype for the 'Meesterproef' of the minor Web Development">
        <meta name="author" content="Robert Spier">
        <link rel="stylesheet" href="/style/style.css">
        <link rel="apple-touch-icon" sizes="57x57" href="/media/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/media/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/media/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/media/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/media/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/media/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/media/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/media/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/media/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/media/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon/favicon-16x16.png">
        <link rel="manifest" href="media/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="media/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <title>Prototype - {{title}}</title>
    </head>


<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Prototype for the 'Meesterproef' of the minor Web Development">
        <meta name="author" content="Robert Spier">
        <link rel="stylesheet" href="../style/style.css">
        <title>Prototype - Index</title>
    </head>

    <body>
        <main>

            <section id="sidebar">

                <section class="logo">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 495 495" style="enable-background:new 0 0 495 495;" xml:space="preserve">
                        <g>
                            <rect x="222.646" y="331.135" style="fill:#B3D8F4;" width="40" height="158.865"/>
                            <rect x="93.75" y="5" style="fill:#FF5023;" width="40" height="50.644"/>
                            <rect x="361.25" y="5" style="fill:#FF5023;" width="40" height="50.644"/>
                            <rect x="227.5" y="5" style="fill:#FF5023;" width="40" height="50.644"/>
                            <rect y="55.644" style="fill:#FFDAAA;" width="247.5" height="275.491"/>
                            <rect x="247.5" y="55.644" style="fill:#FFC477;" width="247.5" height="275.491"/>
                        </g>
                    </svg>
                </section>

                <nav>
                    <ul>
                        <a href="/dashboard/screen/"><li {{#if screen-active}}class="active"{{/if}}>
                            <div class="sidebar-icon">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 341.699 341.699" style="enable-background:new 0 0 341.699 341.699;" xml:space="preserve">
                                    <g>
                                        <polygon style="fill:#7D868C;" points="198.28,261.723 143.417,261.723 136.206,303.39 205.492,303.39     "/>
                                        <path style="fill:#333E48;" d="M0,244.479V48.973c0-11,9-20,20-20h301.699c11,0,20,9,20,20v195.506H0z"/>
                                        <rect x="20" y="48.973" style="fill:#1E252B;" width="301.699" height="186.5"/>
                                        <polygon style="opacity:0.05;fill:#A4A9AD;enable-background:new    ;" points="192.371,48.973 20,221.343 20,235.473 
                                            192.746,235.473 321.699,106.519 321.699,48.973  "/>
                                        <path style="fill:#C3C6C8;" d="M0,231.473v13.006c0,11,9,20,20,20h301.699c11,0,20-9,20-20v-13.006H0z"/>
                                        <g>
                                            <g>
                                                <path style="fill:#1E252B;" d="M175.621,35.445c0-0.606-0.496-1.102-1.103-1.102h-7.337c-0.607,0-1.102,0.496-1.102,1.102v7.338
                                                    c0,0.605,0.495,1.102,1.102,1.102h7.337c0.607,0,1.103-0.496,1.103-1.102V35.445z"/>
                                                <circle style="fill:#005CB9;" cx="170.85" cy="39.113" r="3.581"/>
                                                <circle style="fill:#1E252B;" cx="170.85" cy="39.113" r="1.884"/>
                                            </g>
                                            <circle style="fill:#1E252B;" cx="159.35" cy="39.113" r="1.134"/>
                                            <circle style="fill:#1E252B;" cx="182.349" cy="39.113" r="1.134"/>
                                        </g>
                                        <circle style="fill:#333E48;" cx="170.85" cy="246.976" r="7.836"/>
                                        <path style="fill:#C3C6C8;" d="M208.557,312.727c3.2,0,5.794-2.594,5.794-5.793c0-3.2-2.594-5.794-5.794-5.794h-75.415
                                            c-3.2,0-5.794,2.594-5.794,5.794s2.594,5.793,5.794,5.793H208.557z"/>
                                    </g>
                                </svg>
                            </div>
                        <span>Screens</span></li></a>

                        <a href="/dashboard/slideshow/"><li {{#if slideshow-active}}class="active"{{/if}}>
                            <div class="sidebar-icon">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                    <path style="fill:#876E6E;" d="M502.857,105.143c-5.049,0-9.143-4.094-9.143-9.143V77.714c0-5.049,4.094-9.143,9.143-9.143
                                        c5.049,0,9.143-4.094,9.143-9.143s-4.094-9.143-9.143-9.143H9.143C4.094,50.286,0,54.379,0,59.429s4.094,9.143,9.143,9.143
                                        s9.143,4.094,9.143,9.143V96c0,5.049-4.094,9.143-9.143,9.143S0,109.237,0,114.286v283.429c0,5.049,4.094,9.143,9.143,9.143
                                        s9.143,4.094,9.143,9.143v18.286c0,5.049-4.094,9.143-9.143,9.143S0,447.522,0,452.571c0,5.049,4.094,9.143,9.143,9.143h493.714
                                        c5.049,0,9.143-4.094,9.143-9.143c0-5.049-4.094-9.143-9.143-9.143c-5.049,0-9.143-4.094-9.143-9.143V416
                                        c0-5.049,4.094-9.143,9.143-9.143c5.049,0,9.143-4.094,9.143-9.143V114.286C512,109.237,507.906,105.143,502.857,105.143z
                                         M64,434.286c0,5.049-4.094,9.143-9.143,9.143h-9.143c-5.049,0-9.143-4.094-9.143-9.143V416c0-5.049,4.094-9.143,9.143-9.143h9.143
                                        c5.049,0,9.143,4.094,9.143,9.143V434.286z M64,96c0,5.049-4.094,9.143-9.143,9.143h-9.143c-5.049,0-9.143-4.094-9.143-9.143V77.714
                                        c0-5.049,4.094-9.143,9.143-9.143h9.143c5.049,0,9.143,4.094,9.143,9.143V96z M109.714,434.286c0,5.049-4.094,9.143-9.143,9.143
                                        h-9.143c-5.049,0-9.143-4.094-9.143-9.143V416c0-5.049,4.094-9.143,9.143-9.143h9.143c5.049,0,9.143,4.094,9.143,9.143V434.286z
                                         M109.714,96c0,5.049-4.094,9.143-9.143,9.143h-9.143c-5.049,0-9.143-4.094-9.143-9.143V77.714c0-5.049,4.094-9.143,9.143-9.143
                                        h9.143c5.049,0,9.143,4.094,9.143,9.143V96z M155.429,434.286c0,5.049-4.094,9.143-9.143,9.143h-9.143
                                        c-5.049,0-9.143-4.094-9.143-9.143V416c0-5.049,4.094-9.143,9.143-9.143h9.143c5.049,0,9.143,4.094,9.143,9.143V434.286z
                                         M155.429,96c0,5.049-4.094,9.143-9.143,9.143h-9.143c-5.049,0-9.143-4.094-9.143-9.143V77.714c0-5.049,4.094-9.143,9.143-9.143
                                        h9.143c5.049,0,9.143,4.094,9.143,9.143V96z M201.143,434.286c0,5.049-4.094,9.143-9.143,9.143h-9.143
                                        c-5.049,0-9.143-4.094-9.143-9.143V416c0-5.049,4.094-9.143,9.143-9.143H192c5.049,0,9.143,4.094,9.143,9.143V434.286z M201.143,96
                                        c0,5.049-4.094,9.143-9.143,9.143h-9.143c-5.049,0-9.143-4.094-9.143-9.143V77.714c0-5.049,4.094-9.143,9.143-9.143H192
                                        c5.049,0,9.143,4.094,9.143,9.143V96z M246.857,434.286c0,5.049-4.094,9.143-9.143,9.143h-9.143c-5.049,0-9.143-4.094-9.143-9.143
                                        V416c0-5.049,4.094-9.143,9.143-9.143h9.143c5.049,0,9.143,4.094,9.143,9.143V434.286z M246.857,96c0,5.049-4.094,9.143-9.143,9.143
                                        h-9.143c-5.049,0-9.143-4.094-9.143-9.143V77.714c0-5.049,4.094-9.143,9.143-9.143h9.143c5.049,0,9.143,4.094,9.143,9.143V96z
                                         M292.571,434.286c0,5.049-4.094,9.143-9.143,9.143h-9.143c-5.049,0-9.143-4.094-9.143-9.143V416c0-5.049,4.094-9.143,9.143-9.143
                                        h9.143c5.049,0,9.143,4.094,9.143,9.143V434.286z M292.571,96c0,5.049-4.094,9.143-9.143,9.143h-9.143
                                        c-5.049,0-9.143-4.094-9.143-9.143V77.714c0-5.049,4.094-9.143,9.143-9.143h9.143c5.049,0,9.143,4.094,9.143,9.143V96z
                                         M338.286,434.286c0,5.049-4.094,9.143-9.143,9.143H320c-5.049,0-9.143-4.094-9.143-9.143V416c0-5.049,4.094-9.143,9.143-9.143
                                        h9.143c5.049,0,9.143,4.094,9.143,9.143V434.286z M338.286,96c0,5.049-4.094,9.143-9.143,9.143H320
                                        c-5.049,0-9.143-4.094-9.143-9.143V77.714c0-5.049,4.094-9.143,9.143-9.143h9.143c5.049,0,9.143,4.094,9.143,9.143V96z M384,434.286
                                        c0,5.049-4.094,9.143-9.143,9.143h-9.143c-5.049,0-9.143-4.094-9.143-9.143V416c0-5.049,4.094-9.143,9.143-9.143h9.143
                                        c5.049,0,9.143,4.094,9.143,9.143V434.286z M384,96c0,5.049-4.094,9.143-9.143,9.143h-9.143c-5.049,0-9.143-4.094-9.143-9.143
                                        V77.714c0-5.049,4.094-9.143,9.143-9.143h9.143c5.049,0,9.143,4.094,9.143,9.143V96z M429.714,434.286
                                        c0,5.049-4.094,9.143-9.143,9.143h-9.143c-5.049,0-9.143-4.094-9.143-9.143V416c0-5.049,4.094-9.143,9.143-9.143h9.143
                                        c5.049,0,9.143,4.094,9.143,9.143V434.286z M429.714,96c0,5.049-4.094,9.143-9.143,9.143h-9.143c-5.049,0-9.143-4.094-9.143-9.143
                                        V77.714c0-5.049,4.094-9.143,9.143-9.143h9.143c5.049,0,9.143,4.094,9.143,9.143V96z M475.429,434.286
                                        c0,5.049-4.094,9.143-9.143,9.143h-9.143c-5.049,0-9.143-4.094-9.143-9.143V416c0-5.049,4.094-9.143,9.143-9.143h9.143
                                        c5.049,0,9.143,4.094,9.143,9.143V434.286z M475.429,96c0,5.049-4.094,9.143-9.143,9.143h-9.143c-5.049,0-9.143-4.094-9.143-9.143
                                        V77.714c0-5.049,4.094-9.143,9.143-9.143h9.143c5.049,0,9.143,4.094,9.143,9.143V96z"/>
                                    <g>
                                        <path style="fill:#C9BEBE;" d="M420.571,388.571H91.429c-5.049,0-9.143-4.094-9.143-9.143V132.571c0-5.049,4.094-9.143,9.143-9.143
                                            h329.143c5.049,0,9.143,4.094,9.143,9.143v246.857C429.714,384.478,425.621,388.571,420.571,388.571z"/>
                                        <path style="fill:#C9BEBE;" d="M512,388.571h-54.857c-5.049,0-9.143-4.094-9.143-9.143V132.571c0-5.049,4.094-9.143,9.143-9.143
                                            H512V388.571z"/>
                                        <path style="fill:#C9BEBE;" d="M0,123.429h54.857c5.049,0,9.143,4.094,9.143,9.143v246.857c0,5.049-4.094,9.143-9.143,9.143H0
                                            V123.429z"/>
                                    </g>
                                </svg>
                            </div>
                        <span>Slideshows</span></li></a>

                        <a href="/dashboard/content/"><li {{#if content-active}}class="active"{{/if}}>
                            <div class="sidebar-icon">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 58 58" style="enable-background:new 0 0 58 58;" xml:space="preserve">
                                    <path style="fill:#EFCE4A;" d="M46.324,52.5H1.565c-1.03,0-1.779-0.978-1.51-1.973l10.166-27.871
                                        c0.184-0.682,0.803-1.156,1.51-1.156H56.49c1.03,0,1.51,0.984,1.51,1.973L47.834,51.344C47.65,52.026,47.031,52.5,46.324,52.5z"/>
                                    <path style="fill:#F4EFDC;" d="M10.221,22.656c0.184-0.683,0.803-1.156,1.51-1.156H53v-7H9l-6,6v21.953L10.221,22.656z"/>
                                    <path style="fill:#EBBA16;" d="M23.571,10.5L20,5.5H1.732C0.776,5.5,0,6.275,0,7.232V49.96c0.069,0.002,0.138,0.006,0.205,0.01
                                        L3,42.349V20.5l2-2v-8H23.571z"/>
                                    <polygon style="fill:#D1BF86;" points="5,10.5 5,18.5 9,14.5 51,14.5 51,10.5 "/>
                                    <rect x="28" y="19.5" style="fill:#BFBAA5;" width="2" height="2"/>
                                    <rect x="35" y="19.5" style="fill:#BFBAA5;" width="2" height="2"/>
                                    <rect x="42" y="19.5" style="fill:#BFBAA5;" width="2" height="2"/>
                                    <rect x="14" y="19.5" style="fill:#BFBAA5;" width="2" height="2"/>
                                    <rect x="21" y="19.5" style="fill:#BFBAA5;" width="2" height="2"/>
                                    <polygon style="fill:#CEC9AE;" points="9,20.5 9,14.5 3,20.5 "/>
                                    <g>
                                </svg>
                            </div>
                        <span>Content</span></li></a>

                    </ul>
                </nav>

            </section>