{{> dashhead}}

<div class="content-wrapper">
	<section class="content-introduction">
		<form action="/dashboard/screen/delete/{{id}}" method="post"> 

			<h1>Are you sure you wish to delete this screen?</h1>
			<p>
				<ul>
					<li><strong>Screen: </strong>1e etage TTH</li>
				</ul>
			</p>
			<input type="submit" value="Yes, I wish to delete this screen">

		</form>
		<a href="/dashboard/screen/edit/{{id}}"><button>No</button></a>
	</section>
</div>

{{> dashfoot}}