{{> dashhead}}

<section class="content-wrapper">
    <section class="content-introduction">
        <h1>Are you sure you wish to delete this screen?</h1>
        <p>
            <ul>
                <li><strong>Screen: </strong>1e etage TTH</li>
            </ul>
        </p>
        <a href="../"><button>Yes, I want to delete this screen</button></a><a href="../edit/"><button>No</button></a>
    </section>
</section>

{{> dashfoot}}