{{> dashhead}}

    <section id="content">
        <section class="content-scroll-div">

            <div class="content-header">
                <h1>Delete screen</h1>
            </div>

            <div class="content-form">
            
				<form action="/dashboard/screen/delete/{{id}}" method="post">

				<p class="details">Are you sure you wish to delete this screen?</p>

                    <fieldset class="normal-button">
                        <input id="form-submit" value="Delete screen" name="submit" class="submit-btn" type="submit">
                        <button type="button" class="cancel-btn"><a href="/dashboard/screen/">Cancel</a></button>
                    </fieldset>

                </form>

            </div>

        </section>
    </section>

{{> dashfoot}}