{{> dashhead}}

<section class="block-wrapper">

	<section class="block-item"><a href="edit/">
		<header class="block-image">
			<img src="/media/tv.png">
		</header>
		<footer class="block-footer">
			<ul>
				<li><strong>Name:</strong> TTH 2e etage lift</li>
				<li><strong>Orientation:</strong> Landscape</li>
				<li><strong>Created at:</strong> 07/06/2016</li>
			</ul>
		</footer>
	</a></section>

	<section class="block-item"><a href="edit/">
		<header class="block-image">
			<img src="/media/tv.png">
		</header>
		<footer class="block-footer">
			<ul>
				<li><strong>Name:</strong> TTH 2e etage IAM core</li>
				<li><strong>Orientation:</strong> Portrait</li>
				<li><strong>Created at:</strong> 07/06/2016</li>
			</ul>
		</footer>
	</a></section>

    <section class="block-item new-item"><a href="new/">
        <header class="block-image">
            <img src="/media/new.png">
        </header>
        <footer class="block-footer">
            <ul>
                <li><strong>Create a new screen</strong></li>
            </ul>
        </footer>
    </a></section>

</section>

{{> dashfoot}}