{{> dashhead}}

<div class="content-wrapper">
    <section class="content-options">
        <h1>Creating new screen</h1>

        <form action="/dashboard/screen/new" method="post"> 

            <div class="flex-container">


                <fieldset>
                <legend>Screen options</legend>

                    <label>Screen name:
                        <input name="name" type="text" placeholder="Name"></input>
                    </label>

                    <label>Description:
                        <input name="desc" type="text" placeholder="Description"></input>
                    </label>

                    <label>Location:
                        <input name="location" type="text" placeholder="Location"></input>
                    </label>

                    {{#if error}}
                        <div class="msg">
                            {{error}}
                        </div>
                    {{/if}}

                </fieldset>

            </div>

            <input type="submit" value="Create new screen">
        </form>

    </section>
</div>

{{> dashfoot}}