{{> dashhead}}

<section class="content-wrapper">
    <section class="content-options">
        <h1>Creating new screen</h1>

        <section class="flex-container">

            <fieldset>
            <legend>Screen options</legend>

                <label>Screen name:
                    <input type="text" placeholder="Name"></input>
                </label>

                <label>Description:
                    <input type="text" placeholder="Description"></input>
                </label>

                <label>Location:
                    <input type="text" placeholder="Location"></input>
                </label>

                <label>Assign slideshow (optional)
                    <select>
                        <option selected>Do not assign yet</option>
                        <option>Open dag 7 juni</option>
                        <option>Activiteiten IAM Core</option>
                    </select>
                </label>

            </fieldset>

        </section>

        <a href="../"><button>Create new screen</button></a>

    </section>
</section>

{{> dashfoot}}